package-lock.json
node_modules/
out/
out-webview/
dist/
*.vsix
*.tsbuildinfo
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
.nyc_output/
.eslintcache
.cache/
.vscode-test/
.DS_Store
Notes*
desktop.ini
Thumbs.db
WIP